


@{
        Layout = "_ReviewLayout";
        ViewData["Title"] = "Dashboard";
    }

<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<style>

    .content{
        margin-right:auto;
        margin-right:auto;
    }


    #h {
        font-family: Cambria;
        border-color: black;
        text-align: center;
        background-color: gainsboro;
        border-radius: 25px;
        padding: 30px;
        
    }

</style>

<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


<div class="content text-center">
        <div class="col-md-8 col-lg-12 col-sm-12">
            <br>    <h4 id="h" style="font-family:Castellar;line-height:50px">
                <b>My Communication Skills</b>
            </h4>
            </div>
      


   
</div>





